.history/
.vscode/cSpell.json
.DS_Store
Thumbs.db
node_modules/
out/
dist/
npm-debug.log
.vscode-test-web

# Downloaded binaries used to run another instance of VS Code for tests
.vscode-test

# Incremental build file created by `tsc --build`
tsconfig.tsbuildinfo
*.vsix

# Test output
test-results.json

# External documentation that is included in the bundled extension
resources/.docs-download/
resources/.docs-old/
resources/docs/
