.sonarlint/**
.github/**
.history/**
.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
**/.gitignore
**/.eslintignore
**/.eslintrc.js
.markdownlint.json
tsconfig.json
webpack.config.js
node_modules
typings/**
**/esbuild.js
package-lock.json
**/eslint.config.mjs