.sonarlint/**
.github/**
.history/**
.vscode/**
.vscode-test/**
test/**
src/**
**/*.map
**/.gitignore
**/.eslintignore
**/.eslintrc.js
.markdownlint.json
tsconfig.json
tsconfig.tsbuildinfo
webpack.config.js
node_modules
typings/**
**/esbuild.js
package-lock.json
**/eslint.config.mjs
out/**
resources/.docs-download/**
resources/.docs-old/**
resources/docs/**
resources/schemas/en/**
!resources/docs/**/*.zip